.sp-pageLayout-sideNav [class^='deferredLeftNav'] {
    max-width: 0px;
}

.sp-pageLayout-sideNav .SPCanvas-canvas  {
    max-width: 100%;
}

.sp-pageLayout-sideNav .CanvasZoneContainer:first-child .CanvasZone.row {
    max-width: 100%;
}

.sp-pageLayout-sideNav .CanvasZoneContainer:first-child .CanvasZone.row,
.sp-pageLayout-sideNav .CanvasZoneContainer:first-child .CanvasZone.row .CanvasSection,
.sp-pageLayout-sideNav .CanvasZoneContainer:first-child .CanvasZone.row .CanvasSection .ControlZone
{
    margin: 0px;
    padding: 0px;
}

.sp-pageLayout-sideNav .CanvasZone.row.CanvasZone--alignment.CanvasZone--read.CanvasZone--noMargin {
    margin: auto;
}

.sp-pageLayout-sideNav [class^='spInnerCommentsWrapper_'] {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div[class^='container_'] > div[class^='contentBox_']{
    max-width: 100% !important;
}

.CanvasZone{
    max-width: 100%;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }